<div id="fretboard">
  <button id="toggle-sharp-notes">Toggle Sharps</button>
  <button id="diagnose-chord-btn">What Chord Is This?</button>
  <button id="clear-highlighted-btn">Clear Highlights</button>
  <div class="frets">
    <% 21.times do |x| %>
    <div class="fret">
      <span><%= x+1 %></span>
    </div>
    <% end %>
  </div>
  <% @fretboard.reverse_each do |s| %>
  <div class="string">
    <% s.each do |n| %>
    <div class="note">
      <div><%= n %></div>
    </div>
    <% end %>
  </div><hr />
  <% end %>
</div>