<html>
<head>
  <title>Guitar-Logic</title>
  <link href="../assets/stylesheets/fretboard.css" rel="stylesheet">
  <script src="../javascripts/fretboard_manager.js"></script>
  <script src="../javascripts/note.js"></script>
  <script src="../javascripts/guitar_string.js"></script>
  <script src="../javascripts/chord.js"></script>
  <script src="../javascripts/modal.js"></script>
  <script src="../javascripts/diagnoser.js"></script>
</head>
<body>
  <nav>
    <div>
      <h2>Guitar Logic</h2>
    </div>
  </nav>
  <div class="content">
    <div id="fretboard">
      <button id="toggle-sharp-notes">Toggle Sharps</button>
      <button id="diagnose-chord-btn">What Chord Is This?</button>
      <button id="clear-highlighted-btn">Clear Highlights</button>
      <button id="add-to-tab">Add To Tab</button>
      <div class="frets">
      </div>
    </div>
  </div>
  <div id="tab-container">
    <textarea placeholder="Computed Tab Will Be Added Here"></textarea>
  </div>
  <div id="chord-modal" class="modal hidden">
    <div class="modal-header"></div>
    <div class="modal-body"></div>
    <div class="modal-footer"></div>
  </div>
  <div id="background-blocker" class="hidden"></div>
</body>
</html>
