<html>
<head>
  <title>Guitar-Logic</title>
  <link href="../public/stylesheets/fretboard.css" rel="stylesheet">
  <script src="../public/javascripts/jquery-1.11.3.min.js"></script>
  <script src="../public/javascripts/fretboard_manager.js"></script>
  <script src="../public/javascripts/diagnoser.js"></script>
  <script src="../public/javascripts/js_spec.js"></script>
  <script src="../public/javascripts/note.js"></script>
  <script src="../public/javascripts/guitar_string.js"></script>
  <script src="../public/javascripts/chord.js"></script>
</head>
<body>
  <nav>
    <div>
      <h2>Guitar Logic</h2>
    </div>
  </nav>
  <div class="content">
    <div id="fretboard">
      <button id="toggle-sharp-notes">Toggle Sharps</button>
      <button id="diagnose-chord-btn">What Chord Is This?</button>
      <button id="clear-highlighted-btn">Clear Highlights</button>
      <div class="frets">
      </div>
    </div>
  </div>
</body>
</html>
